<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Problem:</b>
  <%= @ticket.problem %>
</p>

<p>
  <b>Answer to Problem:</b>
  <% @ticket.replies.each do |answer| %>
  <%= answer.reply %>
  <% end %>

</p>

<%= link_to 'Back', tickets_path %>
